$enable-gradients: true;
$enable-shadows: true;

$theme-colors: (
  'primary': #65c7f5,
  'secondary': #e8e9eb,
  'success': #48da6b,
  'danger': #ec4949,
);
$success: #48da6b;
$danger: #ec4949;

$font-family-base: Arial, Helvetica, sans-serif;
$font-size-base: 0.8rem;
$box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
$spacer: 0.3rem;

$btn-border-radius: 2px;
$btn-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);

.cursor-default {
  cursor: default !important;
}
.cursor-move {
  cursor: move;
}
.icon-md {
  transform: scale(1.5);
}
.icon-lg {
  transform: scale(1.8);
}
$modal-content-border-radius: 2px;

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
