---
name: Bump, Release and Publish
on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: How to increase the version
        required: true
        options:
          - major
          - minor
          - patch
      release:
        type: boolean
        description: Create a new release
      publish:
        type: boolean
        description: Publish to Chrome Webstore
jobs:
  bump:
    name: Bump Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Automated Version Bump
        id: version_bump
        uses: phips28/gh-action-bump-version@v11.0.0
        with:
          version-type: ${{ github.event.inputs.version }}
          tag-prefix: "v"
          commit-message: "ci: Bump version to {{version}}"
        env:
          GITHUB_USER: github-actions[bot]
          GITHUB_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
      - name: Publish
        if: ${{ github.event.inputs.publish == 'true' }}
        run: |
            npm i
            npm run build
            npm run release
        env:
          EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
    outputs:
      tag: ${{ steps.version_bump.outputs.newTag }}
  release:
    name: Release
    needs: bump
    if: ${{ github.event.inputs.release == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configuration: changelog.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        uses: mikepenz/action-gh-release@v1
        with:
          body: ${{ steps.github_release.outputs.changelog }}
          tag_name: ${{ needs.bump.outputs.tag }}
