---
name: Lint Code
on: # yamllint disable-line rule:truthy
  push:
    paths-ignore:
      - '*.md'
      - '.github/dependabot.yaml'
      - '.editorconfig'
      - '.gitignore'
      - '.markdownlint.yaml'
      - 'LICENSE'
      - '.yamllint.yaml'
jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: '>=20.8.1 <21.0.0'
    - name: Install
      run: npm ci
    - name: ESLint
      run: npm run lint
