---
name: Lint YAML
on: # yamllint disable-line rule:truthy
  push:
    paths:
      - '*.yaml'
      - '*.yml'

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Lint YAML
      uses: ibiqlik/action-yamllint@v3
      with:
        strict: true
